<div class="container ms-auto me-auto border rounded">
    <div>
        <div class="p-2">
            <div class="input-group">
                <div class="input-group-text">Filtro:</div>
                <input type="text" class="form-control col-md-" placeholder="Buscar"
                    (input)="filtrarPalestrantes($event.target)">
                <div class="ms-5 col-md-4">
                    <a routerLink="/palestrantes/detalhe" class="btn btn-outline-primary col-md-4 float-end"><i
                            class="fa fa-plus-circle my-1"></i><b class="d-none d-sm-block">Novo</b></a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="palestrantes && palestrantes.length" class="row mt-2">
        <div class="col-md-4 mb-4 d-flex align-items-stretch" *ngFor="let palestrante of palestrantes">
            <div class="card">
                <div class="d-flex align-self-center pt-3">
                    <img *ngIf="palestrante.user.imagemURL" [src]="getImagemURL(palestrante.user.imagemURL)"
                        name="aboutme" width="120" height="120" class="rounded-circle" style="cursor: pointer;">
                </div>
                <div class="card-body">
                    <div class="h4 text-center mb-3">@{{palestrante.user.userName}}</div>
                    <div class="h7 text-bold pb-1"><b>Nome:</b> {{palestrante.user.primeiroNome + ' ' +
                        palestrante.user.ultimoNome}}
                    </div>
                    <div class="h7">
                        {{palestrante.miniCurriculo}}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6 text-center border-right">
                                <div class="h5">0</div>
                                <div class="h6 text-muted">Eventos Criados</div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="h5">0</div>
                                <div class="h6 text-muted">Eventos Participados</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>